:root {
    --header-background-color: var(--intermediate-color);
}

.Wrapper {
    padding: 16px;
    height: calc(56px - 16px * 2);
    display: flex;
    background-color: var(--header-background-color);
}

.Container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.Container h1 {
    font-size: 24px;
}
.Container h3 {
    font-size: 18px;
}

.ThemeSwitchContainer {
    position: absolute;
    right: 0px;
}
