:root {
    --header-background-color: var(--intermediate-color);
}

.Wrapper {
    box-sizing: border-box;
    padding: 16px;
    padding-left: 56px;
    height: 56px;
    display: flex;
    background-color: var(--header-background-color);
    border-bottom: 1px solid var(--terciary-color);
}

.Container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.Container h1 {
    font-size: 24px;
}
.Container h3 {
    font-size: 18px;
}

.ThemeSwitchContainer {
    position: absolute;
    right: 0px;
}
