.Wrapper {
    height: 104px;
    padding-left: 32px;
    display: flex;
    align-items: center;
}

.Container {
    width: 100%;
    display: flex;
    gap: 16px;
}

.SectionContainer {
    display: flex;
    height: 36px;
    border: 1px solid transparent;
    border-radius: 24px;
    transition: border 0.2s ease;
}
.SectionContainer:hover {
    border: 1px solid var(--text-color);
}
.SectionContainer button {
    color: var(--text-color);
}

.SectionOption {
    font-size: 20px;
    font-weight: 500;
    margin: 0 24px;
    color: black;
    background: transparent;
    border: none;
    cursor: pointer;
}
